
html {
    height:100vh;
    width:100vw;
    line-height: normal!important;

}

body {
    height:100vh;
    width:100vw;
    font-family: "Arial", "メイリオ";
}

header {
    height: 120px;
    width: 100%;
    background-color: #FFF;
    z-index: 10;
    position: fixed;
    display: flex;
}

.logo {
    height: auto;
    object-fit: cover;
    width: 300px;
    vertical-align: middle;
    margin: 20px 10px 20px 10px;
}

.header_bar {
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.items {
    margin-left: 30px;
}

.menu {
    max-width: 600px;
}

.menu a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #000;
}

label {
    display: block;
    margin: 0 0 4px 0;
    padding : 15px;
    line-height: 1;
    cursor :pointer;
    width:150px;
}

input {
    display: none;
}




.menu ul {
    margin: 10px 30px 0 0;
    padding: 0;
    background: rgba(184, 210, 248, 0.541); 
    list-style: none;
    width:150px;
    font-size: 12px;
    display: none;
}

.menu li {
    overflow: hidden;
    /* -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; */
    margin-top: 0;
    margin-bottom: 0;
}

#menu_bar01:checked ~ #links01 li,
#menu_bar02:checked ~ #links02 li,
#menu_bar03:checked ~ #links03 li,
#menu_bar04:checked ~ #links04 li,
#menu_bar05:checked ~ #links05 li
{
    height: 54px;
    opacity: 1;
}



.main {
    padding-top: 120px;
    width:100%;
    text-align: center;
}

.main_img {
    width:50%;
    margin:0 auto;
}

.main_img img {
    width:100%;
    height:auto;
}



footer {
    width:100vw;
    height: 100px;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/

}

.foot {
    padding-top: 20px;
    padding-bottom: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgba(184, 210, 248, 0.541); /* rgba 背景だけ*/
}

.foot_row3 {
    width: calc(100% / 4);
}

li {
    list-style: none;
  }

/* news */

.chategory_bar {
    padding-top:120px;
    position: relative;
    height: auto;
}


.category_title {
    position: absolute;
    bottom:50px;
    left: 25px;
    font-size:60px;
    color: #fff;
}

.news_container {
    display:flex;
    width:100vw;
}

.news {
    height:auto;
    width: auto;
    padding:20px 50px 20px 50px;
    flex: 4;
} 



/* single.php */
.single_title_box {
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
}

.single_title {

    width:100%;
    font-size: 30px;
    font-weight: bold;
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    /* background: #f4f4f4; */
    border-left: solid 8px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
}


.single_container {
    display:flex;
    padding:50px 100px 0 100px;

}

.single_content {
    font-size: 20px;
}

#acMenu dt{
    display:block;
    width:200px;
    height:50px;
    line-height:50px;
    text-align:center;
    border:#666 1px solid;
    cursor:pointer;
    }
    #acMenu dd{
    background:#f2f2f2;
    width:200px;
    height:50px;
    line-height:50px;
    text-align:center;
    border:#666 1px solid;
    display:none;
    }

    * {
        box-sizing: border-box;
      }
      .sliderArea {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 25px;
      }
      .sliderArea.w300 {
        max-width: 300px;
      }
      .slick-slide {
        margin: 0 5px;
      }
      .slick-slide img {
        width: 100%;
        height: auto;
      }
      .slick-prev, .slick-next {
        z-index: 1;
      }
      .slick-prev:before, .slick-next:before {
        color: #000;
      }
      .slick-slide {
        transition: all ease-in-out .3s;
        opacity: .2;
      }
      .slick-active {
        opacity: 1;
      }
      .slick-current {
        opacity: 1;
      }
      .thumb {
        margin: 20px 0 0;
      }
      .thumb .slick-slide {
        cursor: pointer;
      }
      .thumb .slick-slide:hover {
        opacity: .7;
      }
     
      
      .menu p {
          margin-left: 20px;
      }


